.textaria{
    padding: 5px;
    width: 100%;
    height: 200px;
    outline: none;
    resize: none;
}

textarea:after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    border: 2px solid #2e2e2e;
    color: #2e2e2e;
    width: 100%;
}
