.product-view--delete__filed{
    margin-top: 40px;
    text-align: center;
}
.product-view--delete__filed-button{
    text-align: right;
}
.product-view--delete__filed-button button:last-child {
    margin-left: 10px;
}