
.category-view--info {
    border-right: 1px solid #60666d;
}

.category-view--field{
    font-size: 17px;
    margin: 20px 0;
}
.category-view--info__desc {
    font-weight: bold;
    margin-right: 5px;
}
.category-view--field__desc{
    height: 400px;
    overflow-y: auto;
}
.category-view--field__img{
    border: 1px solid #60666d;
    margin: 5px 0;
}
