.select-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
//   width: 180px;
  margin: 0 auto;
  font-size: 18px;
  color: #60666d;
  transition: all 2 ease;
}
.select-box__input{
    display: none;
    opacity: 0;
}
.select-box__list{
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 20;
    list-style: none;
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}
.select-box__input-text{
    cursor: pointer;
    padding-left: 15px;
    width: 150px;
    text-transform: uppercase;
}
.select-box__input:checked ~ .select-box__list{
    top: 100%;
    opacity: 1;
}
.select-box__list{
    opacity: 0;
    top: -3000px;
}

.select-box__input:checked ~ .select-box__input-icon{
        transition: 0.2s ease;
        font-size: 40px;
}
.select-box__input:not(:checked) ~ .select-box__input-icon{
        transition: 0.2s ease;
        font-size: 40px;
        transform:  rotate(-180deg);
}
    
.select-box__option{
    display: flex;
    flex-wrap: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px;
    &:hover{
        background-color: rgb(238, 238, 238);
    }
}