.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
   z-index: 8000;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  min-height: 200px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 20px 20px;
}
.modal-header {
  min-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
}

