$font-family-base: 'roboto',sans-serif;

$base-text-color: #2e2e2e;
$accent-text-color: rgba($color: #000000, $alpha: .5);;
$color-filters: #60666d;
$color-search: #414856;
$bg-color: #fafafa;
$color-error: rgb(253, 61, 61);