.product--card{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 200px;
    margin-left: 100px;
    width: 100%;
    margin: 1px;
    border: 1px solid rgb(168, 168, 168);
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.product--header{
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #fafafa;
    padding: 10px;
    color: #414856;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    // font-weight: bold;
    transition: all .3s ease;
}
.product--card__img {
    position: relative;
    width: 100%;
}
.product--card__images{
    transition: all .2s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
.product--card__text{
    background-color: rgb(245, 245, 245);
    z-index: 3;
    position: relative;
}


.product--card__h3{
    padding: 10px;
    text-transform: uppercase;
    color:#414856;
    font-size: 16px;
    font-weight: bold;
}
.product--card__p{
    padding:  10px 10px 10px 10px;
    color: #60666d;
    font-size: 16px;
}
.product--card__controller{
    display: flex;
    justify-content: flex-end;
}
.product--card__controller-delete, .product--card__controller-see{
    cursor: pointer;
    padding: 8px;
    color: white;
    background-color: rgb(155, 155, 155);
}